#coinform{
    max-width: 400px;
    margin: 0 auto;
}

#coinform .form-group_btn{
    grid-column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
    margin-top: 20px;
}

#coinform .btn-model-cc{
    animation: btn-item 2s ease-in-out infinite alternate;
    background-image: -webkit-linear-gradient(-90deg, #b8e6fe, #38b3f9 25%, #0470d3 85%, #b8e6fe 115%);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    transition: 1s;
    width: 100%;
    cursor: pointer;
}

#coinform .btn-model-cf{
    animation: btn-item 2s ease-in-out infinite alternate;
    background-image: -webkit-linear-gradient(-90deg, #f3a2ff, #e324ff 25%, #8c20e5 85%, #ffb4f9 115%);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    width: 100%;
}

#coinform .error{
    color: #ff0000;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

*, ::after, ::before {
    box-sizing: border-box;
}