#coinform, #loginform, #registerform{
    max-width: 400px;
    margin: 0 auto;
}

#coinform .form-group_btn, #loginform .form-group_btn, #registerform .form-group_btn{
    grid-column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
    margin-top: 20px;
}

#coinform .btn-model-cc, #loginform .btn-model-cc, #registerform .btn-model-cc{
    animation: btn-item 2s ease-in-out infinite alternate;
    background-image: -webkit-linear-gradient(-90deg, #b8e6fe, #38b3f9 25%, #0470d3 85%, #b8e6fe 115%);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    transition: 1s;
    width: 100%;
    cursor: pointer;
}

#coinform .btn-model-cf, #loginform .btn-model-cf, #registerform .btn-model-cf{
    animation: btn-item 2s ease-in-out infinite alternate;
    background-image: -webkit-linear-gradient(-90deg, #f3a2ff, #e324ff 25%, #8c20e5 85%, #ffb4f9 115%);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    width: 100%;
}

#coinform .error{
    color: #ff0000;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.btn-model-cc{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .header-col-R .header-group-btn .btn-tele:before {
    background-image: url(../images/telegram-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 45px;
    width: 50px;
}

.inner-room .winRate p, .inner-room .winRate h1{
    z-index: 10;
}

@media only screen and (max-width: 768px) {
    .game-item-top {
      display: block !important;
    }
}

.bg-login{
    background-image: url(../images/bg-login-model.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset !important;
    border: unset !important;
    border-radius: unset !important;
    box-shadow: unset !important;
    min-height: 430px;
    max-width: 730px !important;
}

.form-check{
    padding-left: unset !important;
    color: #fff;
}

.form-check-input {
    margin-top: .4rem !important;
    margin-left: .25rem !important;
}

body{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slectslot_inner{
    background-image: url(../images/111.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    border-radius: unset !important;
    border: 1px solid #00FF84 !important;
}

.slot_item{
    background-image: url(../images/Layer_14_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 120px;
    position: relative;
    cursor: pointer;
}
.slot_image{
    width: 60px;
}
.slot_title{
    width: 125px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    color: #fff;
    position: absolute;
    bottom: 30px;
    font-size: 14px;
    font-weight: 700;
}
.slot_percent_1{
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 31px;
    top: 36px;
    font-size: 14px;
}
.slot_percent_2{
    background: linear-gradient(#BDE94B, #2DDA4F);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: 25px;
    bottom: 4px;
}
.slot_detail_wrapper{
    max-height: 300px !important;
}
.detail-game{
    cursor: pointer;
}
.btn-help{
    cursor: pointer;
}